<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloWorld</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    
    <platform name="ios">
        
        <config-file target="config.xml" parent="/*">
            <feature name="StatusBar">
                <param name="ios-package" value="CDVStatusBar" onload="true" />
            </feature>
            <preference name="StatusBarOverlaysWebView" value="false" />
            <preference name="StatusBarStyle" value="lightcontent" />
            <preference name="StatusBarbackgroundColor" value="#5fa0b6"/>
        </config-file>
        
        
        <plugin name="Notification" value="CDVNotification" />
        <feature name="Notification">
            <param name="ios-package" value="CDVNotification" />
        </feature>
        
        <js-module src="www/Coordinates.js" name="Coordinates">
            <clobbers target="Coordinates" />
        </js-module>
        
        <js-module src="www/PositionError.js" name="PositionError">
            <clobbers target="PositionError" />
        </js-module>
        
        <js-module src="www/Position.js" name="Position">
            <clobbers target="Position" />
        </js-module>
        
        <js-module src="www/geolocation.js" name="geolocation">
            <clobbers target="navigator.geolocation" />
        </js-module>
        
        <config-file target="config.xml" parent="/*">
            <feature name="Geolocation">
                <param name="ios-package" value="CDVLocation"/>
                <feature name="http://api.phonegap.com/1.0/geolocation" />
            </feature>
        </config-file>
        <header-file src="ios/CDVLocation.h" />
        <source-file src="ios/CDVLocation.m" />
        <framework src="CoreLocation.framework" />
        
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string></string>
        </config-file>

        
    </platform>
    

    <access origin="*" />
</widget>
